body
{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 1000px;
}

.header,
.footer
{
  padding-right: 15px;
  padding-left: 15px;
}

.header 
{
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}


.header h3 
{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer 
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) 
{
    .container
    {
        max-width: 730px;
    }
}

.jumbotron
{
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.footer
{
    position: relative;
    clear: both;
}

.head
{
    width: 25%;
}